/* Media query for large screens */ 
/* Larger Views ******************************/
@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .temples {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    figcaption {
        font-size: 16px;
    }
}